<div class="header">
  <button
    mat-icon-button
    aria-label="Example icon button with a menu icon"
    (click)="toggelDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="info">
    <div>
      <span>User</span>
    </div>
    <button  class="person" mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</div>
