.form-template{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.permision{
  /* grid-row: 2 / 3 !important; */
  grid-column: 1 / -1 !important;
}

.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.action button{
  width: 100%;
}

.perissionLevel{
  width: 100%;
}
.id{
  display: none;
}
